{% extends 'layouts/default.twig' %}

{% block body %}
    <div class="content-page">
        <!-- Start content -->
        <div class="content">
            <div class="container-fluid">
                <div class="page-title-box">
                    <div class="row align-items-center">

                        <div class="col-sm-6">
                            <h4 class="page-title">Catégories</h4>
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Solutions</a></li>
                                <li class="breadcrumb-item"><a href="javascript:void(0);">Catégories</a></li>
                            </ol>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="mt-0 header-title">Liste des catégories</h4>
                                <p class="text-muted m-b-30" style="float: right;">
                                    <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="modal" data-target=".bs-example-modal-lg"><i class="ti-plus"></i>Ajouter une catégorie</button>
                                </p>
                                <div class="table-responsive">
                                    <table id="js-table" class="table mb-0">
                                        <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Titre de la catégorie</th>
                                            {% if auth().role == 'admin' %}
                                                <th>Actions</th>
                                            {% endif %}
                                        </tr>
                                        </thead>
                                        <tbody id="body">
                                        {% for category in categories %}
                                            <tr>
                                                <td>
                                                    <img src="{{ category.cover }}" alt="" height="30">
                                                </td>
                                                <td>{{ category.title }}</td>
                                                {% if auth().role == 'admin' %}
                                                    <td>
                                                        <button type="button" class="btn btn-primary btn-round ti-pencil js-edit" data-toggle="modal" data-target=".category-{{ category.id }}"></button>
                                                        <a href="javascript:void(0);" class="btn btn-danger ti-trash js-delete" data-url="/admin/solutions/categories/{{ category.id }}/delete"></a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container-fluid -->
        </div>
        <!-- content -->
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title mt-0" id="myLargeModalLabel">Ajouter une nouvelle catégorie de solutions</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                            <form id="js-category-form" action="/admin/solutions/categories/store" method="post">
                                <div class="row">
                                <div class="form-group col-md-12">
                                    <label for="title">Nom de la catégirie</label>
                                    <input id="title" name="title" type="text" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <label for="cover">Image de la catégorie</label>
                                    <input id="cover" name="cover" type="file" class="form-control">
                                </div>
                                <div class="form-group col-md-12">
                                    <label>Description</label>
                                    <textarea class="form-control" name="description" cols="30" rows="5"></textarea>
                                </div>
                                <div class="form-group col-md-12">
                                    <button class="btn btn-success btn-lg">
                                        <img id="spinner" src="/img/spinner.svg" width="30" style="display: none">
                                        Enrégistrer
                                    </button>
                                </div>
                                </div>
                            </form>

                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div>
        {% for category in categories %}
            <div class="modal fade category-{{ category.id }}" tabindex="-1" role="dialog" aria-labelledby="modal{{ category.id }}" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myLargeModalLabel">{{ category.title }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        </div>
                        <div class="modal-body">
                            <form class="js-category-form" action="/admin/solutions/categories/{{ category.id }}/update" method="post">
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label for="title">Nom de la catégirie</label>
                                        <input  name="title" type="text" class="form-control" value="{{ category.title }}">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label for="cover">Image de la catégorie</label>
                                        <input  name="cover" type="file" class="form-control">
                                    </div>
                                    <div class="form-group col-md-12">
                                        <label>Description</label>
                                        <textarea class="form-control" name="description" cols="30" rows="5">{{ category.description }}</textarea>
                                    </div>
                                    <div class="form-group col-md-12">
                                        <button class="btn btn-success btn-lg">
                                            <img  src="/img/spinner.svg" width="30" style="display: none">
                                            Mettre à jour
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        {% endfor %}
        <footer class="footer">
            © 2019 SotoTech.
        </footer>
    </div>


{% endblock %}
{% block scripts %}
    <script src="/assets/js/sweetalert.js"></script>
    <script src="/assets/js/sweetalert.init.js"></script>
    <script src="/pages/solutions/category.js"></script>
{% endblock %}